# Compiled output  
dist/  
tmp/  
out-tsc/  
bazel-out/  
ignorado.txt
# Node  
node_modules/  
npm-debug.log  
yarn-error.log  

# Compiled output  
*.class  
*.dll  
*.exe  
*.so  
*.jar  

# Compiled output  
*.swp  
*.swo